.context-menu {
    position: absolute;
    background-color: #282828;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 220px;
    font-family: Monstserrat;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;

    li {
        list-style: none;
        display: grid;
        grid-template-columns: 3rem auto;
        align-items: center;
        justify-items: center;
        border-radius: 8px;
        padding: 1em;
        width: 100%;
        font-size: .8rem;



        &:hover {

            background-color: #3e3e3e;

            select {
                background-color: #3e3e3e;
            }

            cursor: pointer;
        }

        select {
            cursor: pointer;
            background-color: #282828;
            color: #fff;
            border: none;
            font-weight: 400;
            font-size: .8rem;
            font-family: Monstserrat;
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: #fff;
        }

    }

    .context-remove {
        width: 100%;

        span {
            // padding-left: .3em;
            // justify-self: baseline;
            padding-right: 15%;
        }
    }

    .context-line {
        cursor: pointer;
        height: 64px;
        width: 100%;
        border-bottom: 1px solid #404040;
        position: relative;

        &:hover {
            background-color: #3e3e3e;
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            filter: none;

        }

        span {
            font-family: Monstserrat;
            font-weight: 400;

            justify-self: baseline;
        }

        .station-select {
            position: absolute;
            bottom: -100%;
        }

        .share-select {
            position: absolute;
            right: -95%;
            top: 40%;
            width: 200px;
            background-color: $clr10;
            z-index: 1001;
            font-size: 1rem;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

            .context-list {
                height: 48px;
                &:hover {
                    background-color: #3e3e3e;
                }
            }

            h6 {
                font-weight: 200;
                margin: 0;
                font-size: .9rem;
                justify-self: baseline;
            }

        }

        &:last-child {
            border-bottom: none;
        }

    }

    .share {
        span {
            &::after {
                content: " >";
            }
        }
    }


}