.main-container.MOBILE {
    .mobile-manu {
        grid-area: left-sidebar;

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            height: 100%;
            justify-items: center;



            li {
                a {
                    display: flex;
                    flex-direction: column;
                }
                margin-top: 8px;
            }
        }


        svg {
            justify-self: center;
            align-self: center;
            width: 2rem;
            height: 2rem;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(2005%) contrast(100%);
        }


    }
}